@{
    ViewData["Title"] = "Peliculaiken";
}

<div class="text-center">
    <h1 class="display-4">Peliculaiken</h1>
    <p>Añadí y busca pelis wachin.</p>
</div>
<div class="topnav">
    <button onclick="" class="active">Buscar pelicula</button>
    <input type="text" placeholder="Search..">
    <br />

</div>

